/* Address Book Container */

.address-book-container { 
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px; 
}

/* Address Book Banner */

.address-book-banner {
  background-color: #B30000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Address Book Header */

.address-book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.check-all-container {
  display: flex;
  align-items: center;
}

.check-all-container input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  accent-color: #EB1110;
}

.delete-all-btn-container {
  margin-left: auto;
  margin-right: 20px;
}

.delete-all-btn {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.delete-all-btn:hover {
  background-color: #23527c;
}

.add-address-btn-container {
  margin-left: auto;
}

.add-address-btn {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.add-address-btn:hover {
  background-color: #23527c;
}

/* Address Book Content */

.address-book-content {
  padding: 20px;
}

/* Address Book Tabs */

.address-book-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tab-button {
  background-color: #fff;
  color: #337ab7;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.tab-button.active {
  background-color: #337ab7;
  color: #fff;
}

.tab-button:hover {
  background-color: #23527c;
  color: #fff;
}

/* Address Book Items */

.address-book-items {
  padding: 20px;
}

.address-item {
  display: flex;
  margin-bottom: 10px;
  border: solid #D1D1D6 1.5px;
  border-radius: 6px;
  padding: 8px;
}

.address-checkbox {
  margin-right: 20px;
}

.address-details {
  width: 70%;
  padding: 20px;
}

.address-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.address-street {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.address-city-state-zip {
  font-size: 14px;
  color: #666;
}

.address-actions {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.edit-address-btn, .delete-address-btn {
  margin-left: 10px;
  margin-bottom: 5px; 
}

.edit-address-btn button, .delete-address-btn button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  min-width: 150px; 
}

.edit-address-btn button {
  background-color: #337ab7;
}

.edit-address-btn button:hover {
  background-color: #23527c;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #B30000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  background-color: #B30000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#save-address-btn, #cancel-btn {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

#save-address-btn:hover, #cancel-btn:hover {
  background-color: #23527c;
}

/* Mobile responsiveness */

@media only screen and (max-width: 768px) {
  .address-book-container {
    margin-bottom: 20vh;
  }

  .address-book-header {
    flex-direction: column;
    align-items: center;
  }

  .delete-all-btn-container {
    margin-left: unset; 
    margin-bottom: 5px; 
  }

  .check-all-container {
    margin-bottom: 10px;
  }

  .add-address-btn-container {
    margin-left: 0;
  }

  .address-book-content {
    padding: 10px;
  }

  .address-book-tabs {
    flex-direction: column;
    align-items: center;
  }

  .tab-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .address-item {
    flex-direction: column;
    align-items: center;
  }

  .address-details {
    width: 100%;
    padding: 10px;
  }

  .address-actions {
    flex-direction: column;
    align-items: center;
  }

  .edit-address-btn, .delete-address-btn {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .modal-content {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .address-book-container {
    margin-bottom: 10vh;
  }

  .address-book-header {
    padding: 5px;
  }

  .check-all-container {
    margin-bottom: 5px;
  }

  .add-address-btn-container {
    margin-left: 0;
  }

  .address-book-content {
    padding: 5px;
  }

  .address-book-tabs {
    padding: 5px;
  }

  .tab-button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .address-item {
    padding: 5px;
  }

  .address-details {
    padding: 5px;
  }

  .address-actions {
    padding: 5px;
  }

  .edit-address-btn, .delete-address-btn {
    margin-bottom: 5px;
  }

  .modal-content {
    width: 90%;
  }

  .modal-header {
    padding: 5px;
    font-size: 16px;
  }

  .modal-body {
    padding: 10px;
  }

  .modal-footer {
    padding: 5px;
    font-size: 16px;
  }

  #save-address-btn, #cancel-btn {
    padding: 5px 10px;
    font-size: 14px;
  }
}

