.top-menu {
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text */
  padding: 5px; /* Add some padding */
  display: flex; 
  font-size:16px;
  position:fixed; 
  top:0px;
  z-index:1000; 
  left:0px; width:100vw;
}

.menu-icon {
  margin-left: 10px; /* Add some margin to the left */
}

.menu-title {
  flex-grow: 1; /* Take up the remaining space */
  text-align: center; /* Center the title */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-top:30px;
  margin-bottom: 30vh; 
}

.menu-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-list li ul , .menu-list li p {
    margin-left: 10px;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list i {
    font-size: 12px;
    margin-left: 10px;
}
