.top-menu {
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text */
  padding: 5px; /* Add some padding */
  display: flex; 
  font-size:16px;
  position:fixed; 
  top:0px;
  z-index:1000; 
  left:0px; width:100vw;
}

.menu-icon {
  margin-left: 10px; /* Add some margin to the left */
}

.menu-title {
  flex-grow: 1; /* Take up the remaining space */
  text-align: center; /* Center the title */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom:20vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    position: relative;
    width:100%;
  margin-top:10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

img {
  width:100%;
  height:100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission, .vision, .story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.mission-text, .vision-text, .story-text {
    width: 50%;
    padding: 20px;
}

.mission-img, .vision-img, .story-img {
    width: 40%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .banner {
    height:80vh;
  }
  .mission{
    flex-direction: column-reverse;
  }
  .vision {
    flex-direction: column;
  }
  .story {
    flex-direction: column-reverse;
  }
  .mission-text, .vision-text, .story-text {
    width:100%;
  }
  .mission-img, .vision-img, .story-img{
    width:100%;
  }
}
 
.values ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.values li {
    margin-bottom: 20px;
}

.values h3 {
    margin-top: 0;
}

.leadership ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leadership li {
    margin-bottom: 20px;
}

.careers, .contact {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}
