.payment-status-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:-10px;
}

.payment-status-header {
    margin-bottom: 20px;
}

.payment-status-header h3 {
    margin-top: 0;
}

.payment-history-container {
    margin-bottom: 20px;
}

.filters-container {
    margin-bottom: 20px;
}

.filters-container label {
    display: block;
    margin-bottom: 10px;
}

.filters-container select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#payment-history-table {
    width: 100%;
    border-collapse: collapse;
}

#payment-history-table th {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

#payment-history-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.request-invoice-button {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.request-invoice-button:hover {
    background-color: #23527c;
}

/* Media queries for mobile responsiveness */

@media only screen and (max-width: 767px) {
    /* Mobile portrait styles */
    .payment-status-container {
        padding: 10px;
    }
    .payment-history-container {
        margin-bottom: 10px;
    }
    .filters-container {
        margin-bottom: 10px;
    }
    #payment-history-table {
        font-size: 14px;
    }
    #payment-history-table th {
        padding: 5px;
    }
    #payment-history-table td {
        padding: 5px;
    }
}

@media only screen and (min-width: 767px) {
    /* Mobile landscape and desktop styles */
    .payment-status-container {
        padding: 20px;
    }
    .payment-history-container {
        margin-bottom: 20px;
    }
    .filters-container {
        margin-bottom: 20px;
    }
    #payment-history-table {
        font-size: 16px;
    }
    #payment-history-table th {
        padding: 10px;
    }
    #payment-history-table td {
        padding: 10px;
    }
}
