
/* Banner Section Styles */

.banner {
  background-image: url('assets/img/home/background-image.jpeg'); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.banner-content {
  text-align: center;
  z-index: 1;
  position: relative;
}

.banner-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.banner-content h1 span {
  color: #EB1110; /* Match the reddish color */
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner-content button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.banner-content button:hover {
  background-color: #ff3737;
}

/* Top Selling Items Section Styles */

.top-selling-items {
  background-color: #f9f9f9;
  padding: 50px 0;
  padding-top:10px;
}

.top-selling-items .container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-selling-items h3 { 
  margin-bottom: 20px;
  text-align:center;
}

.items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-basis: 22%;
  margin: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.item button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.item button:hover {
  background-color: #ff3737;
}

.item button i {
  margin-right: 10px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .item {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .item {
    flex-basis: 19%;
  }
}

/* Deals of the Day Section Styles */

.deals-of-the-day {
  background-color: #f9f9f9;
  padding: 50px 0;
  padding-top:10px;
}

.deals-of-the-day .container {
  max-width: 1200px;
  margin: 0 auto;
}

.deals-of-the-day h3 {
  margin-bottom: 20px;
  text-align:center;
}

.deals-of-the-day .items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deals-of-the-day .item {
  flex-basis: 22%;
  margin: 20px;
  text-align: center;
}

.deals-of-the-day .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.deals-of-the-day .item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.deals-of-the-day .item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.deals-of-the-day .item button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.deals-of-the-day .item button:hover {
  background-color: #ff3737;
}

.deals-of-the-day .item button i {
  margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .deals-of-the-day .item {
    flex-basis: 35%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .deals-of-the-day .item {
    flex-basis: 19%;
  }
}

/* Your Favourites Section Styles */

.your-favourites {
  background-color: #f9f9f9;
  padding: 50px 0;
  padding-top:10px;
}

.your-favourites .container {
  max-width: 1200px;
  margin: 0 auto;
}

.your-favourites h3 { 
  margin-bottom: 20px;
  text-align:center;
}

.your-favourites .items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.your-favourites .item {
  flex-basis: 22%;
  margin: 20px;
  text-align: center;
}

.your-favourites .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.your-favourites .item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.your-favourites .item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.your-favourites .item button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.your-favourites .item button:hover {
  background-color: #ff3737;
}

.your-favourites .item button i {
  margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .your-favourites .item {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .your-favourites .item {
    flex-basis: 19%;
  }
}

/* Your Discounts Section Styles */

.your-discounts {
  background-color: #f9f9f9;
  padding: 50px 0;
  padding-top:10px;
}

.your-discounts .container {
  max-width: 1200px;
  margin: 0 auto;
}

.your-discounts .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.your-discounts .header h3 {
  margin: 0;
}

.your-discounts .header a {
  text-decoration: none;
  color: #333;
}

.your-discounts .items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.your-discounts .item {
  flex-basis: 22%;
  margin: 20px;
  text-align: center;
}

.your-discounts .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.your-discounts .item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.your-discounts .item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.your-discounts .item button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.your-discounts .item button:hover {
  background-color: #ff3737;
}

.your-discounts .item button i {
  margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .your-discounts .item {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .your-discounts .item {
    flex-basis: 19%;
  }
}

/* Recommended for You Section Styles */

.recommended-for-you {
  background-color: #f9f9f9;
  padding: 50px 0;
  padding-top:10px;
}

.recommended-for-you .container {
  max-width: 1200px;
  margin: 0 auto;
}

.recommended-for-you .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recommended-for-you .header h3 {
  margin: 0;
}

.recommended-for-you .header a {
  text-decoration: none;
  color: #333;
}


.recommended-for-you .items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommended-for-you .item {
  flex-basis: 22%;
  margin: 20px;
  text-align: center;
}

.recommended-for-you .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.recommended-for-you .item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recommended-for-you .item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.recommended-for-you .item button {
  background-color: #EB1110;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.recommended-for-you .item button:hover {
  background-color: #ff3737;
}

.recommended-for-you .item button i {
  margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .recommended-for-you .item {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .recommended-for-you .item {
    flex-basis: 19%;
  }
}

/* Explore Our Exclusive Brands Section Styles */

.explore-brands {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.explore-brands .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.explore-brands .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.explore-brands .header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.explore-brands .header a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.explore-brands .description {
  font-size: 16px;
  margin-bottom: 30px;
  color: #666;
}

.explore-brands .items-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.explore-brands .item {
  flex-basis: calc(25% - 20px);
  margin: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.explore-brands .item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.explore-brands .item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
  .explore-brands .items-row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .explore-brands .item {
    flex-basis: 200px;
    margin: 20px 0;
  }
}

/* Shop by Department Section Styles */

.shop-by-department {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.shop-by-department .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.shop-by-department .header {
  margin-bottom: 20px;
}

.shop-by-department .header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.shop-by-department .departments-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.shop-by-department .department {
  flex-basis: calc(16.66% - 20px);
  margin: 20px;
  text-align: center;
}

.shop-by-department .department img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 20px;
}

.shop-by-department .department h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
  .shop-by-department .departments-row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .shop-by-department .department {
    flex-basis: 150px;
    margin: 20px 0;
  }
}

/* Email Subscription Section Styles */

.email-subscription {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.email-subscription .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.email-subscription .header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.email-subscription p {
  font-size: 16px;
  margin-bottom: 20px;
}

.email-subscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-subscription input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-subscription button[type="submit"] {
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.email-subscription button[type="submit"]:hover {
  background-color: #444;
}

.email-subscription .privacy-policy-link {
  text-decoration: none;
  color: #00698f; /* Changed color to a blue tone */
}

.email-subscription .privacy-policy-link:hover {
  color: #0088cc; /* Changed hover color to a lighter blue tone */
}


