.my-orders-container {
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30vh; 
}

.my-orders-banner {
  background-color: #B30000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my-orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.filter-orders-container {
  display: flex;
  align-items: center;
}

.sort-orders-btn-container {
  margin-left: auto;
}
 
.order-history-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}

.order-history-item {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    flex-basis: 22%;
}

@media only screen and (max-width: 767px) {
  .order-history-item {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .order-history-item {
    flex-basis: 19%;
  }
}

.order-history-item img {
    width: 100%;
    min-width: 180px; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.order-history-item-info {
    padding: 20px;
}

.order-history-item-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.order-history-item-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.order-history-item-info span {
    font-size: 14px;
    color: #666;
}

select {
    margin-bottom: 20px;
}
