.wishlist-container {
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wishlist-banner {
  background-color: #337ab7;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wishlist-items {
  padding: 20px;
}

.wishlist-item {
  display: flex;
  margin-bottom: 10px;
  border:solid #D1D1D6 1.5px; 
  border-radius: 6px;
  padding:8px; 
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .wishlist-item {
    display: block;
  } 
}

.wishlist-item img {
  width: 140px;
  height: 140px;
}

@media only screen and (max-width: 767px) {
  .wishlist-page img {
    width:100%; 
    height: 30vh
  } 
}

.item-image {
  display: flex; 
}

@media only screen and (max-width: 767px) {
  .item-image {
    display: block;
    width:100%;
  } 
}

.item-details {
  width: 70%;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .item-details {
    width:100%;  
  } 
}

.item-description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-manufacturer {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.item-rating {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.item-fabric {
  font-size: 14px;
  color: #666;
}

.item-actions { 
  flex:1;
  align-items: center;
}
 
@media only screen and (max-width: 767px) {
  .item-actions {
    padding-left: 15px;   
  } 
}

.item-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-price {
  font-size: 18px;
  font-weight: bold;
  color: #337ab7;
  margin-bottom: 10px;
}

.old-price {
  font-size: 14px;
  color: #666;
  text-decoration: line-through;
}

.wishlist-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.trash-icon {
  margin-left: auto;
  cursor: pointer;
}
