
.header {
  color:white; 
  background: #333333; 
  padding:10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid #ccc;  
  padding-bottom:3px;
}


@media only screen and (max-width: 768px) and (orientation: portrait) {
  .header { 
    position:sticky;
    left: 0px; 
    top: 0px;  
    padding-top:10px;
  }
} 


.header .title{
  flex: 1;
  text-align: center; 
  font-weight: 700;
}

.header .back-button {
  margin-right: 10px;
  cursor: pointer;
  display:none;
}

.header .back-button i {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .header {
    background: #333333;
  }
  .back-button {
    display: unset;
  }
}
/**/

button {
  border-radius: 5px;
}
 
.delivery-mode {
  padding:3px; 
  border-radius: 3px; 
  margin-bottom:10px;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.m-delivery .shipping-section {
  display: none;
}

.main-container h2 {
  margin-bottom: 2px; 
}

.flex-container { 
   display: block;
}

@media only screen and (min-width: 1024px) {
    .flex-container {
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

.checkout-actions {

}

@media only screen and (min-width: 1024px) {
  .checkout-actions {
    width: 60%;
  }
}

.address-options {
  display:flex; 
  flex-wrap: wrap;
  justify-content: centre;
}

.address-details {
  flex:1; 
  padding-left:8px;
}

.radio-icon {
  color: #EB1110;
}

.address-options .edit-button,
.address-options .delete-button {
  display: none;
  padding-left: 6px;
  cursor: pointer; 
}
.address-options .edit-button {
  flex:1; 
  text-align:right;
  display: none; 
  cursor: pointer;
}

.change-button a { 
  text-decoration: none;
  text-decoration: underline;
}

.form1 {
  display: none;
}
 
.address-container {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0px; 
  border: 1px solid #777279; 
  border-radius: 6px; 
  margin-bottom: 15px;
}

.shipping-info {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 22px; 
  position: relative;
}

.form-group label {
  position: absolute; 
  left: 10px;
  display: block;
  margin-bottom: 5px;
  top:-12px; 
  background:white;
  padding-left:2px;
  padding-right: 2px;
}

.form-group input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc; 
}

.form-group input, .form-group select {
  padding-top: 20px;
  border-radius: 4px;
} 

.city-postal-code {
  display: flex;
  justify-content: space-between;
}

.city-postal-code .form-group {
  width: 48%;
}

.checkbox-container{
  margin-bottom: 4px; 
}

.continue-button-container , .save-button-container{
  text-align: center;
  display: none; 
}

.continue-button-container button  , .save-button-container button {
  border-radius: 4px; 
}

.address-select {
  display: none ;
  flex: 1; 
}
.address-select select {
  margin-left:calc(50% - 50px); padding:3px; border-radius: 4px;
}
/* change event */
.address-change .change-button {
  display: none; 
}

.address-change .edit-button  , 
.address-change .delete-button ,
.address-change .continue-button-container {
  display: block; 
} 
/* edit event */
.edit-change .edit-button ,
.edit-change .change-button , 
.edit-change .address-details {
  display: none; 
}

.edit-change .delete-button ,
.edit-change .form1 , 
.edit-change .continue-button-container ,
.edit-change .address-select {
  display: block; 
}
 
/**/

.payment-methods {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #777279; 
  border-radius: 3px; 
}

.payment-method-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.payment-method-logos div {
  margin: 10px;
}

.payment-method-logos img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.payment-methods select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.payment-methods label {
  display: block;
  margin-bottom: 10px;
}

.payment-methods input[type="text"], .payment-methods input[type="number"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.payment-methods button[type="submit"] {
  width: 100%; 
  padding: 10px; 
  cursor: pointer;
}

.summary { 
  width: 100%; 
  background-color: #fff;
  padding: 20px;
  border: 1px solid #777279;
  margin-top: 6px; 
}

@media only screen and (min-width: 1024px) {
  .summary {
    width: 30%;
  }
}

.summary {
  padding: 20px;
}

.summary-header {
  margin-bottom: 4px; 
}

.summary-header i {
  float:right; 
  margin-top: 6px
}

.hidden {
  display: none;
}

.fleco {
  display: flex;
  font-size: 12px;
  gap: 4px;
  
}

.image-container {
  width: 80px;
  margin-right: 20px;
}

.image-container img {
  width: 70px;
  height:70px
  object-fit: cover;
  margin-bottom: 6px; 
}

.price-remove a {
  text-decoration: underline;
  color: #337ab7;
  margin-top: 4px;
  
}

.price-remove a:hover {
  color: #23527c;
}

.brand-name {
  font-weight: bold;
}

.dimension {
  font-size: 14px;
  color: #666;
}

.product-type {
  font-style: italic;
}

.product-name {
  font-weight: bold;
}

.product-feature {
  font-size: 14px;
  color: #666;
}

.color-name {
  font-weight: bold;
}

.material {
  font-size: 14px;
  color: #666;
}

.price {
  font-weight: bold;
  color: #337ab7;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.summary-item-label {
  font-size: 16px;
  font-weight: bold;
}

.summary-item-value {
  font-size: 16px;
}

.summary-item select {
  padding:6px;
  border-radius:3px;
}

.total {
  border-top: solid #D1D1D6 1.5px;
  padding-top: 10px;
}

.checkout-btn {
  width: calc(100% - 20px);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30vh;
  border-radius: 20px;
  color: white;
  background: #D30F0E;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.checkout-button button {  
  cursor: pointer;
}
 
