.main-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.flex-container { 
   display: block;
}

@media only screen and (min-width: 1024px) {
    .flex-container {
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

.checkout-actions {

}

@media only screen and (min-width: 1024px) {
  .checkout-actions {
    width: 60%;
  }
}

.address-options {
  display:flex; 
  flex-wrap: wrap;
  justify-content: centre;
}

.address-details {
  flex:1; 
  padding-left:8px;
}

.radio-icon {
  color: #EB1110;
}

.address-options .edit-button,
.address-options .delete-button {
  display: none;
  padding-left:6px;
}
.address-options .edit-button {
  flex:1; 
  text-align:right;
  display: none; 
}

.change-button a { 
  text-decoration: none;
  text-decoration: underline;
}

form {
  display: none;
}
 
.address-container {
  background-color: #fff;
  padding: 20px;
  padding-bottom:10px; 
  border: 1px solid #777279; 
  border-radius: 6px; 
  margin-bottom: 10px;
}

.shipping-info {
  margin-bottom: 20px;
}

.shipping-info h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px; 
  position: relative;
}

.form-group label {
  position: absolute; 
  left: 10px;
  display: block;
  margin-bottom: 5px;
  top:-12px; 
  background:white;
  padding-left:2px;
  padding-right: 2px;
}

.form-group input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc; 
}

.form-group input, .form-group select {
  padding-top: 20px;
  border-radius: 4px;
} 

.city-postal-code {
  display: flex;
  justify-content: space-between;
}

.city-postal-code .form-group {
  width: 48%;
}

.continue-button-container{
  text-align: center;
  display: none; 
}

.continue-button-container button {
  border-radius: 4px; 
}

/* change event */
.address-change .change-button {
  display: none; 
}

.address-change .edit-button  , 
.address-change .delete-button ,
.address-change .continue-button-container {
  display: block; 
} 
/* edit event */

/**/

.checkout-summary {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

@media only screen and (min-width: 1024px) {
  .checkout-summary {
    width: 30%;
  }
}

.checkout-summary h2 {
  margin-top: 0;
}

.checkout-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkout-summary li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.checkout-summary li:last-child {
  border-bottom: none;
}

.order-total {
  margin-top: 20px;
  text-align: right;
}

.order-total h2 {
  margin-top: 0;
}

.payment-options {
  margin-top: 20px;
}

.payment-options h2 {
  margin-top: 0;
}

.payment-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.payment-options li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.payment-options li:last-child {
  border-bottom: none;
}

.terms-and-conditions {
  margin-top: 20px;
}

.terms-and-conditions h2 {
  margin-top: 0;
}

.checkout-button {
  margin-top: 20px;
  text-align: right;
}

.checkout-button button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button button:hover {
  background-color: #3e8e41;
}
