.print-button {
    margin-left: 15px; 
}

.error-message {
    color: #EB1110; 
}

.shop-info-title {
    text-align:center; 
    text-decoration: underline;
}
.product-item {
    padding: 15px;
    border: solid 1.2px #ddd; /* added border color */
    margin-bottom: 10px;
    border-radius: 5px; /* added border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added box shadow */
    background-color: #f9f9f9; /* added background color */
}

#add-product-btn {
     margin-left:calc(100% - 2*30px);
     transform: translateX(-100%)
}

#tax-invoice2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#tax-invoice2 img {
    width:150px; 
    height:150px;
}
.banner {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #444;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.tablinks {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tablinks:hover {
    background-color: #3e8e41;
}

.tablinks.active {
    background-color: #333;
}

.tabcontent {
    display: none;
    margin-top: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.print-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.print-button button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.print-button button:hover {
    background-color: #3e8e41;
}

.preview-tab {
    margin-top: 1em;
    padding: 40px 30px ; 
    border:solid 1px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.logo-wrapper {
    width: 150px;
}

#tax-invoice2 .logo {
    width: 100%;
}

.invoice-title { 
    font-weight: bold;
    font-size: 18px; 
    text-align:center; 
    text-decoration: underline;
    margin-top:-60px; 
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 1em;
}

.company-info, .bank-info {
    width: 40%; 
    padding: 1em; 
}

.company-info p, .bank-info p {
    text-decoration: underline;
} 

.client-info-header {
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.client-info-details {
    margin-bottom: 1em;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.invoice-table th:first-child, .invoice-table td:first-child {
    width: 40%;
}

.invoice-table th:not(:first-child), .invoice-table td:not(:first-child) {
    width: 20%;
}

.invoice-table th {
    background-color: #f0f0f0;
}

.invoice-total-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.invoice-total-table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.invoice-total-table td:first-child {
    width: 80%;
}

.invoice-total-table td:not(:first-child) {
    width: 20%;
}

.thank-you-message {
    text-align: center;
    margin-top: 1em;
    font-size: 17px;
    color: #666;
    font-weight:700; 
}

/* Form styling */

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="button"], .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="button"]:hover, .form-group input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Responsive design */
.tabcontent {
    margin-bottom: 30vh; 
}

@media only screen and (max-width: 767px) {
  #preview-tab2 .preview-tab {
     zoom: 0.4;
  }
}
