.invoice-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.invoice-logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.invoice-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.invoice-from, .invoice-to {
    margin-bottom: 20px;
}

.invoice-from-title, .invoice-to-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.invoice-details {
    margin-bottom: 20px;
}

.invoice-items {
    margin-bottom: 20px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table-head {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.invoice-table-head th {
    padding: 10px;
    text-align: left;
}

.invoice-table-body td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.payment-terms {
    margin-bottom: 20px;
}

.actions {
    text-align: right;
}

.download-invoice-button, .pay-invoice-button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-invoice-button:hover, .pay-invoice-button:hover {
    background-color: #1A76D2;
}

/* Mobile Portrait */
@media only screen and (max-width: 767px) {
    .invoice-page {
        padding: 10px;
    }
    .invoice-logo {
        width: 100px;
        height: 100px;
    }
    .invoice-header {
        display: block;
    }
    .invoice-from, .invoice-to {
        margin-bottom: 20px;
    }
    .invoice-table {
        font-size: 14px;
    }
}

/* Mobile Landscape and Tablet */
@media only screen and (min-width: 767px) {
    .invoice-page {
        padding: 20px;
    }
    .invoice-logo {
        width: 150px;
        height: 150px;
    }
    .invoice-header {
        display: flex;
    }
    .invoice-from, .invoice-to {
        margin-bottom: 20px;
    }
    .invoice-table {
        font-size: 16px;
    }
}
