/*----*/
.container2 {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30vh; 
}

#affiliate-program header {
  background-color: #337ab7;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#affiliate-program main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#affiliate-program section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#affiliate-program h2, #affiliate-program h3 {
  margin-top: 0;
}

#affiliate-program ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#affiliate-program li {
  margin-bottom: 10px;
  margin-left: 15px;
}

#affiliate-program label {
  display: block;
  margin-bottom: 10px;
}

#affiliate-program input[type="text"], #affiliate-program input[type="email"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#affiliate-program input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #337ab7;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#affiliate-program input[type="submit"]:hover {
  background-color: #23527c;
}

@media only screen and (max-width: 768px) {
  #affiliate-program .container {
    margin: 20px auto;
    padding: 10px;
  }
  
  #affiliate-program main {
    padding: 10px;
  }
  
  #affiliate-program section {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  #affiliate-program .container {
    margin: 10px auto;
    padding: 5px;
  }
  
  #affiliate-program main {
    padding: 5px;
  }
  
  #affiliate-program section {
    margin-bottom: 5px;
  }
}
