.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header p {
    margin: 0;
}

.header select {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}

.filter-aside {
    width: 20%;
    background-color: #f0f0f0;
    padding: 1rem;
}

.filter-button {
    background-color: #fff;
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.product-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.product-item {
    width: 25%;
    margin: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    border: 1px solid #ddd;
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.25rem;
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.previous-button, .next-button {
    background-color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.pagination-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.pagination-number {
    background-color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.pagination-number.active {
    background-color: #007bff;
    color: #fff;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) { 
    #sort-select {
        display: none;
    }
    .filter-aside {
        display: none;
    }
}

